<div class="p-4 border rounded shadow-sm bg-white d-flex" id="date-container">
  <div class="mb-4">
    <label class="form-label">Select Date: </label><br>
    <select [(ngModel)]="selectedDate" (change)="onDateChange()">
      @for (val of dateRange; track val) {
        <option [ngValue]="val">
          {{ val | date:'mediumDate' }}
        </option>
      }
    </select>
  </div>

  @if (selectedDate) {
    <div class="ms-5 flex-grow-1">
      <h6>Slots for {{ selectedDate | date:'fullDate' }}</h6>
      <hr>

      @for (slot of filteredSlots; track slot.time) {
        <div class="form-check mb-2">
          <input class="form-check-input"
                 type="checkbox"
                 [(ngModel)]="slot.isAvailable"
                 [id]="slot.time">
          <label class="form-check-label" [for]="slot.time">
            {{ slot.time }}

            <span [class.text-success]="slot.isAvailable"
                  [class.text-danger]="!slot.isAvailable">
              ({{ slot.isAvailable ? 'Available' : 'Unavailable' }})
            </span>
            
         
          </label>
        </div>
      } @empty {
        <div class="text-muted">
          No slots found for this date.
        </div>
      }

      @if (filteredSlots.length > 0) {
        <button (click)="updateAvailability()" class="btn btn-primary mt-3">
          Save Changes
        </button>
      }
    </div>
  }
</div>