<h4>Edit Availability</h4>
<div class="p-4 border rounded shadow-sm bg-white d-flex" id="date-container">
        <div class="mb-4">
            <label class="form-label">Select Date: </label><br>
            <select [(ngModel)]="selectedDate" (change)="onDateChange()">
                <option *ngFor="let val of dateRange" [value]="val">{{val|date:'mediumDate'}}</option>
            </select>
            
        </div>

        <div *ngIf="selectedDate">
            <h6>Slots for {{ selectedDate | date:'fullDate' }}</h6>
            <hr>
            
            <div *ngFor="let slot of filteredSlots" class="form-check mb-2">
                <input class="form-check-input" type="checkbox" 
                        [(ngModel)]="slot.isAvailable" 
                        [id]="slot.time">
                <label class="form-check-label" [for]="slot.time">
                    {{ slot.time | date:'shortTime' }} 

                    <span [class.text-success]="slot.isAvailable" [class.text-danger]="!slot.isAvailable">

                    ({{ slot.isAvailable ? 'Available' : 'Unavailable' }})
                    
                    </span>
                </label>
            </div>

            <div *ngIf="filteredSlots.length === 0" class="text-muted">
                No slots found for this date.
            </div>

            <button *ngIf="filteredSlots.length > 0" 
                    (click)="updateAvailability()" 
                    class="btn btn-primary mt-3">
                Save Changes
            </button>
        </div>
</div>
